@import "tailwindcss";
@font-face {
  font-family: 'Font';
  src: url('/font/SF-Pro.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
} 
@font-face {
  font-family: 'SemiBold';
  src: url('/font/SF-Pro-Text-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Regular';
  src: url('/font/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bold';
  src: url('/font/SF-Pro-Text-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  background: url('/bg.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {

  width: 100vw;

  padding: 50px;
  height: 100vh;

}


.form {
 
  width: 1000px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right:60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #fff;
}


.buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 2rem;
}

.button,.button2{
  font-family: "Bold", sans-serif;
  width:33%;
  padding: 0.8rem;
  border-color: #fff;
  border-style: solid;
  border-width: 0.1px;
  font-size: 14px;
  border-radius: 8px;

}
.button2{
  background-color: #fff;
  color: #182F17;
}
 
@media (min-width:1440px) {
  .wrapper{
    width: 1440px;
    margin: auto;
  }
}
.heading{
  font-family: "Bold", sans-serif;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 justify-content: center;
 font-size: 37px;

}
.form-values{
  margin-top: 1.6rem;
  font-family: "Regular", sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.leftright{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  gap: 88px;
}
.login{
  width: 50%;
}
.left1{
  width: 45%;
}
.minitext{
  font-family: "Font", sans-serif;
  font-size: 11px;
  font-weight: 200;
}
.response{
  margin-top: 1rem;
  font-size: 15px;
}
@media (max-width:768px){

.buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 2rem;
}

.button,.button2{
  font-family: "Bold", sans-serif;
  width:100%;
  padding: 0.8rem;
  border-color: #fff;
  border-style: solid;
  border-width: 0.1px;
  font-size: 14px;
  border-radius: 8px;


}
.button2{
  background-color: #fff;
  color: #182F17;
}
 

.heading{
  font-family: "Bold", sans-serif;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 justify-content: center;
 font-size: 27px;
 width: 70%;

}
.form-values{
  margin-top: 1.6rem;
  font-family: "Regular", sans-serif;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.leftright{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25.6px;
}
.login{
  width: 100%;
}
.left1{
  width: 100%;
}
.minitext{
  font-family: "Font", sans-serif;
  font-size: 11px;
  font-weight: 200;
}
.response{
  margin-top: 1rem;
  font-size: 15px;
}

.wrapper {

  width: 100vw;
  padding: 25px;
  height: 100%;

}


.form {
 
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right:30px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 20px;
  margin-top: 1.5rem;

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #fff;
}

}
.form { position: relative; overflow: hidden; }

.form .bg-blur-layer {
  position: absolute;
  inset: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(9px);
  transform: translateZ(0);
  will-change: transform;
  z-index: 0;
  transform: scale(1.1); 
  pointer-events: none;
}
.form > * { position: relative; z-index: 1; }
.button, .button2 {
  transition: all 0.25s ease-in-out;
}

.button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #182F17;
}
.button2:hover{
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}